<h3>Date Input Helper</h3>

{{input type="date" value=dateInput}}

<div>Date: {{moment-format date}}</div>

<h3>Time Input Helper</h3>

{{input type="time" value=timeInput}}

<div>Date: {{moment-format date}}</div>

<h3>Date/Time Local Input Helper</h3>

{{input type="datetime-local" value=dateTimeLocalInput}}

<div>Date: {{moment-format date}}</div>